apiVersion: v1
data:
  Corefile: |
    .:53 {
        errors
        health {
           lameduck 5s
        }
        ready
        kubernetes cluster.local in-addr.arpa ip6.arpa {
           pods insecure
           fallthrough in-addr.arpa ip6.arpa
           ttl 30
        }
        prometheus :9153
        forward . /etc/resolv.conf {
           max_concurrent 1000
        }
        cache 30
        loop
        reload
        loadbalance
    }

    https://.:443 {
         tls /certs/tls.crt /certs/tls.key


         forward . /etc/resolv.conf

         cache 30
         health
         ready
         prometheus 0.0.0.0:9153
         log
         errors
      }
kind: ConfigMap
metadata:
  name: coredns
  namespace: kube-system
